<div class="{% for class in container_classes %}{{ class }} {% endfor %}">

	{% if enable_voting == true %}

		{% if vote_type == 'upvote' %}
			<span class="{{ vote_type }}">
		{% else %}
			<span>
		{% endif %}
				<a data-comment-id="{{ comment_id }}" class="vote-up"><i class="icon-vote-up"></i></a>
			</span>

		<span id="comment-weight-value-{{ comment_id }}" class="{{ vote_type }}">{{ comment_weight }}</span>

		{% if vote_type == 'downvote' %}
			<span class="{{ vote_type }}">
		{% else %}
			<span>
		{% endif %}
				<a data-comment-id="{{ comment_id }}" class="vote-down"><i class="icon-vote-down"></i></a>
			</span>

	{% else %}
		<span>
			<a href="{{ login_url }}"><i class="icon-vote-up"></i></a>
		</span>
		<span id="comment-weight-value-{{ comment_id }}">{{ comment_weight }}</span>
		<span>
			<a href="{{ login_url }}"><i class="icon-vote-down"></i></a>
		</span>

	{% endif %}

</div>
